<div class="row g-4" [ngClass]="{'row-cols-3':entity === 'event'}">
    <div class="col" *ngFor="let item of list ">
        <div class="card card-template col mb-3 h-100" *ngIf="entity == 'car'">
            <img [src]="item.event_Image" alt="{{item.name}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{item.event_Image}}</h5>
                <app-modal [item]="item"></app-modal>
                <p class="card-text">{{item.description}}</p>
                <button class="btn btn-sm btn-primary" [routerLink]="['/event/']">
                    <i class="fa fa-pencil me-2"></i>
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>