<form [formGroup]="passwordForm" (ngSubmit)="submit()" [class.ng-validated]="submitted">
    <div class="row mb-3 mx-0">
      <label class="col-sm-4 col-form-label input-required" for="newPassword">New password</label>
      <div class="col-sm-8">
        <sdwds-password-input
          inputId="newPassword"
          formControlName="newPassword"
          [strengths]="newPasswordValidatorsStrengths"
          [validators]="newPasswordValidators"
        ></sdwds-password-input>
        @if (passwordForm.controls['newPassword'].errors?.['required'] && submitted) {
        <div class="invalid-feedback d-block">This field is required</div>
        } @if ( passwordForm.controls['newPassword'].errors && !passwordForm.controls['newPassword'].errors['required']
        ) {
        <div class="invalid-feedback d-block">
          Your password should meet the minimum requirements:
          <ul>
            @if (passwordForm.controls['newPassword'].errors['minlength']) {
            <li>{{ passwordStrength.minLength }} characters</li>
            } @if (passwordForm.controls['newPassword'].errors['lowercaseRequired']) {
            <li>{{ passwordStrength.minLowercase }} lowercase letters</li>
            } @if (passwordForm.controls['newPassword'].errors['uppercaseRequired']) {
            <li>{{ passwordStrength.minUppercase }} uppercase letters</li>
            } @if (passwordForm.controls['newPassword'].errors['numberRequired']) {
            <li>{{ passwordStrength.minNumbers }} numbers</li>
            } @if (passwordForm.controls['newPassword'].errors['specialCharacterRequired']) {
            <li>{{ passwordStrength.minSpecialCharacters }} special characters</li>
            }
          </ul>
        </div>
        }
      </div>
    </div>
    <div class="row mb-3 mx-0">
      <label class="col-sm-4 col-form-label input-required" for="confirmNewPassword">Confirm new password</label>
      <div class="col-sm-8">
        <sdwds-password-input
          inputId="confirmNewPassword"
          formControlName="confirmNewPassword"
          [strengths]="confirmNewPasswordValidatorsStrengths"
          [validators]="confirmNewPasswordValidators"
        ></sdwds-password-input>
        @if (passwordForm.controls['confirmNewPassword'].errors?.['required'] && submitted) {
        <div class="invalid-feedback d-block">This field is required</div>
        } @if ( passwordForm.controls['confirmNewPassword'].errors && passwordForm.controls['confirmNewPassword'].value )
        {
        <div class="invalid-feedback d-block">Confim password has to be the same as new password</div>
        }
      </div>
    </div>
    <div class="row mb-3 mx-0">
      <div class="col-sm-8 offset-sm-4">
        <button type="submit" class="btn btn-secondary">Change password</button>
      </div>
    </div>
  </form>