
<div class="container mt-5">
  <form [formGroup]="eventRegistrationForm">
    
    <h6 class="form-heading">Event Details</h6>

    <div class="form-group">
      <label class="form-label" for="eventName">Event Name</label>
      <input class="form-control" formControlName="eventName" id="eventName" type="text" placeholder="Enter Event Name" 
      />
      <span *ngIf="eventRegistrationForm.controls['eventName'].invalid && eventRegistrationForm.controls['eventName'].dirty" class="text-danger">Event Name is required!</span>
    </div>

    <div class="form-group">
      <label class="form-label" for="eventDescription">Event Description</label>
      <textarea class="form-control" formControlName="description" id="description" rows="3" placeholder="Enter Event Description" required></textarea>
    </div>
   
    <div class="form-group">
      <label class="form-label" for="starting_Time">Start Time</label>
      <input class="form-control" formControlName="starting_Time" type="time" id="starting_Time" required />
    </div>

    <div class="form-group">
      <label class="form-label" for="ending_Time">End Time</label>
      <input class="form-control" formControlName="ending_Time" type="time" id="ending_Time" required />
    </div>

    <div class="form-group">
      <label class="form-label" for="eventObjective">Event Objective</label>
      <textarea class="form-control" formControlName="objective" id="objective" rows="3" placeholder="Enter Event Description" required></textarea>
    </div>

    <div class="form-group">
      <label class="form-label" for="sponsors">Event Sponsors</label>
      <textarea class="form-control" formControlName="sponsors" id="sponsors" rows="3" placeholder="Enter Event Sponsors" required></textarea>
    </div>

    <div class="form-group">
      <label class="form-label" for="outcome">Event Outcome</label>
      <textarea class="form-control" formControlName="outcome" id="outcome" rows="3" placeholder="Enter Event Outcome" required></textarea>
    </div>

    <div class="form-group">
      <label class="form-label" for="startDate">Start Date</label>
      <input class="form-control" formControlName="startDate" id="startDate" type="date" required />
    </div>

    <div class="form-group">
      <label class="form-label" for="endDate">End Date</label>
      <input class="form-control" formControlName="endDate" id="endDate" type="date" required />
    </div>


    <div class="form-group">
      <label class="form-label" for="status">Event Status</label>
      <select class="form-select" formControlName="status" id="status" required>
        <option value="">Select Event Status</option>
        <option value="scheduled">Scheduled</option>
        <option value="ongoing">Ongoing</option>
        <option value="completed">Completed</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label" for="type">Event Type</label>
      <select class="form-select" formControlName="type" id="type" required>
        <option value="">Select Event Type</option>
        <option value="onsite">Onsite</option>
        <option value="virtual">Virtual</option>
        <option value="hybrid">Hybrid</option>
      </select>
    </div>

    <div class="form-group">
      <label class="form-label" for="location">Location Map</label>
      <input class="form-control" formControlName="location" id="location" type="text" placeholder="Enter Location Map URL" />
    </div>

    <div class="form-group">
      <label class="form-label" for="attachment">Attachments</label>
      <input class="form-control" formControlName="attachment" id="attachment" type="file" accept=".jpg, .jpeg, .png, .pdf, .xls, .xlsx, .doc, .docx" multiple />
    </div>

    <div class="form-group">
      <label class="form-label" for="event_Image">Event Image</label>
      <input class="form-control" formControlName="event_Image" id="event_Image" type="file" accept=".jpg, .jpeg, .png, .pdf, .xls, .xlsx, .doc, .docx" multiple />
    </div>

    <div class="d-flex gap-2">
      <button type="submit" (click)="saveEvent()" class="btn btn-primary">Save</button>
      <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
  </form>
</div>