

<div id="sdwds-grid-layout">
 
  <nav id="sdwds-grid-nav"><app-sidebar></app-sidebar>
</nav>
  <div id="sdwds-grid-content">
    <div class="container">
      <img src="../../../assets/images/spark/03.png" alt="Your Image" style="position: fixed; top: 10px; right: 10px; width: 90px; height: auto;">

      <div id="revenueChart" class="chart" (click)="toggleSidebarVisibility()"></div>
      <div id="expensesChart" class="chart" (click)="toggleSidebarVisibility()"></div>
      <div id="profitChart" class="chart" (click)="toggleSidebarVisibility()"></div>
      <div id="salesChart" class="chart" (click)="toggleSidebarVisibility()"></div>
      <div id="growthChart" class="chart" (click)="toggleSidebarVisibility()"></div>
    </div>
  </div>
