<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="revenueChart" class="chart" (click)="toggleSidebarVisibility()"></div>
    </div>
    <div class="col-md-6">
      <div id="expensesChart" class="chart" (click)="toggleSidebarVisibility()"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="profitChart" class="chart" (click)="toggleSidebarVisibility()"></div>
    </div>
    <div class="col-md-6">
      <div id="salesChart" class="chart" (click)="toggleSidebarVisibility()"></div>
    </div>
  </div>
  <div id="growthChart" class="chart" (click)="toggleSidebarVisibility()"></div>
</div>
