<app-search-bar (searchEvent)="handleSearch($event)"></app-search-bar>

<div class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let event of filteredEvents">
        <div class="event-card">
          <div class="image-container d-flex align-items-center">
            <img [src]="event?.imageUrl" alt="{{ event?.title }} Image">
          </div>
          <div class="event-date">{{ event?.date }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ event?.title }}</h5>
            <p class="card-text">{{ event?.description }}</p>
            <!-- Learn More button -->
            <button class="btn btn-primary" (click)="openEventDetails(event)">Learn More</button>
          </div>
          <!-- Display event details -->
          <div class="event-details" *ngIf="selectedEvent === event">
            <div class="event-details-content">
              <h2>{{ selectedEvent?.title }}</h2>
              <p>{{ selectedEvent?.description }}</p>
              <p>Date: {{ selectedEvent?.date }}</p>
              <p>Location: {{ selectedEvent?.location }}</p>
              <p>Time: {{ selectedEvent?.time }}</p>
              <p>Organizer: {{ selectedEvent?.organizer }}</p>
              <!-- Close button -->
              <button class="btn btn-primary" (click)="closeEventDetails()">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
