.container {
  margin-left: 20em;
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line if there's not enough space */
  justify-content: space-around; /* Center cards horizontally */
}

.event-card {
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.15); /* Adjusted background for glassmorphism effect */
  backdrop-filter: blur(10px); /* Glassmorphism backdrop filter */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for zoom effect and box-shadow */
}

.create-event-card {
  border: 2px dashed #ccc; /* Dashed border for creating event card */
}

.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.image-container {
  overflow: hidden;
  height: 60%;
  border-radius: 12px 12px 0 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-date {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #343a40;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.card-body {
  padding: 15px;
  text-align: left;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
  color: #333;
}

.card-description {
  font-size: 14px;
  line-height: 1.4;
  color: #555;
}
