<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="registrationForm" class="registration-form">
        <h2 class="text-center mb-4">Register</h2>
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="confirmPassword" formControlName="firstName" placeholder="Confirm your password">
        </div>
  
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Confirm your password">
        </div>
        <div class="mb-3">
          <label for="userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="userName" formControlName="UserName" placeholder="Enter your full name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Profile Image</label>
          <input type="text" class="form-control" id="profileImage" formControlName="profileImage" placeholder="Choose a Profile Picture" type="file" accept=".jpg, .jpeg, .png, .pdf, .xls, .xlsx, .doc, .docx" multiple>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
        </div>

        <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block">Register</button>
      </form>
    </div>
  </div>
</div>
