
<div id="sdwds-grid-layout">
 
  <nav id="sdwds-grid-nav"><app-sidebar></app-sidebar>
</nav>

<div class="container">
    <img src="../../../assets/images/spark/03.png" alt="Your Image" style="position: fixed; top: 10px; right: 10px; width: 90px; height: auto;">
    <div class="leaders-table">
      <div class="table-header">
        <h2>Team Leaders</h2>
      </div>
  
      <div class="table-row" *ngFor="let leader of leaders">
        <div class="photo-column">
          <div class="circle-photo">
            <img [src]="leader.photo" alt="{{ leader.name }} Photo">
          </div>
        </div>
  
        <div class="info-column">
          <div class="name">{{ leader.name }}</div>
          <button (click)="expandBio(leader)">Expand Bio</button>
        </div>
  
        <div class="bio-column" *ngIf="leader.expanded">
          <p>{{ leader.bio }}</p>
        </div>
      </div>
    </div>
  </div>

