<app-navbar></app-navbar>
<!-- <nav id="sdwds-grid-nav">
    <app-sidebar></app-sidebar>
</nav> -->

<router-outlet></router-outlet>

<!-- <div class="container-fluid px-lg-4 px-2 fade-in slow">
    <sdwds-container>
        <div class="d-flex flex-column gap-1">
            <sdwds-header applicationName="SD Events">
            </sdwds-header>
            <div class="container-fluid mt-5 mb-4 pt-3">
                <sdwds-body>
                    <app-navbar></app-navbar>
                    <app-sidebar></app-sidebar>
                    <router-outlet></router-outlet>
                </sdwds-body>
            </div>
        </div>
    </sdwds-container>
</div> -->

<!-- <div class="container-fluid px-lg-4 px-2 fade-in slow" *ngIf="loaded && !loading">
    <sdwds-container>
        <div class="d-flex flex-column gap-1">
            <app-navbar *ngIf="loaded"></app-navbar>
            <sdwds-header *ngIf="!loaded" applicationName="park">
            </sdwds-header>
            <div class="container-fluid mt-5 mb-4 pt-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </sdwds-container>
</div> -->