#sdwds-grid-layout {
    --sdwds-grid-header-height: 3rem;
    --sdwds-grid-nav-width: 14.875rem;
    --sdwds-grid-areas: "header header" "nav content";
    --sdwds-grid-rows: var(--sdwds-grid-header-height) 1fr;
    --sdwds-grid-columns: var(--sdwds-grid-nav-width) 1fr;
}

nav {
    display: block;
}

#sdwds-grid-layout #sdwds-grid-nav {
    grid-area: nav;
    overflow: auto;
}

body #sdwds-grid-content {
    transition: all .2s;
}