<div class="feedback-form">
  <h2>Event Feedback Form</h2>
  <form [formGroup]="feedbackForm" >
    
    <label for="FeedbackText">Leave your Feedback on your recent Event Attended :</label>
    <textarea id="FeedbackText" name="FeedbackText" formControlName="DescriptionText"  required></textarea>

    <label for="DescriptionDate"> Date:</label>
    <input type="date" id="DescriptionDate" formControlName="DescriptionDate" name="DescriptionDate" required>

    <button type="submit" (click)="submitFeedback()">Submit</button>
  </form>
</div>
