<div class="feedback-form">
  <h2>Event Feedback Form</h2>
  <form (ngSubmit)="submitFeedback()" #feedbackForm="ngForm">
    <label for="feedbackID">Feedback Overall: (Positive/Neutral/Negative) </label>
    <input type="text" id="feedbackID" name="feedbackID" [(ngModel)]="feedbackID" required>
    
    <label for="eventID">Event Name:</label>
    <input type="text" id="eventID" name="eventID" [(ngModel)]="eventID" required>
    
    <label for="userID">Username :</label>
    <input type="text" id="userID" name="userID" [(ngModel)]="userID" required>

    <label for="DescriptionText">Feedback Description :</label>
    <textarea id="DescriptionText" name="DescriptionText" [(ngModel)]="DescriptionText" required></textarea>

    <label for="DescriptionDate"> Date:</label>
    <input type="date" id="DescriptionDate" name="DescriptionDate" [(ngModel)]="DescriptionDate" required>

    <button type="submit" [disabled]="!feedbackForm.valid">Submit</button>
  </form>
</div>
