<div class="container">
  <img src="../../../assets/images/spark/03.png" alt="Your Image" style="position: fixed; top: 10px; right: 10px; width: 90px; height: auto;">

<div class="empty-state empty-state-lg">
    <i class="empty-state-image-404-2"></i>
    <div class="empty-state-content">
      <h4>Oops, something went wrong...</h4>
      <span
        >We try to resolve this as soon as possible. Contact <a href="mailto:support@sd.be">supportsd.mu</a> if this
        problem occurs more often.</span
      >
    </div>
    <div class="empty-state-actions">
      <button class="btn btn-primary">Back</button>
      <button class="btn btn-secondary">Report Issue</button>
    </div>
  </div>