<sdwds-sidenav [collapsed]="false" [showToggle]="false" [responsive]="true" [hideSubtitles]="false">
    <!-- <sdwds-sidenav-item type="header" label="Admin dashboard"></sdwds-sidenav-item> -->

    <sdwds-sidenav-item type="header" label="Menu"></sdwds-sidenav-item>

    <!-- <sdwds-sidenav-item label="Menu" link="#"></sdwds-sidenav-item> -->

    <sdwds-sidenav-item label="Admin Dashboard" link="/admin-dashboard" icon="icons8-o-admin-settings-male">
    </sdwds-sidenav-item>
    <sdwds-sidenav-item label="Analytics" link="/analytics" icon="icons8-o-home">
    </sdwds-sidenav-item>
    <sdwds-sidenav-item label="Financial Overview" link="/finance" icon="icons8-o-course">
    </sdwds-sidenav-item>
    <!--problem, we need to combine sidenavs-->
    <sdwds-sidenav-item label="Event Calendar" link="/events" icon="icons8-o-calendar">
    </sdwds-sidenav-item>
    <sdwds-sidenav-item label="Group Leaders" link="/group-leaders" icon="icons8-o-contact">
    </sdwds-sidenav-item>
    <sdwds-sidenav-item label="Team Leaders" link="/team-leaders" icon="icons8-o-contact">
    </sdwds-sidenav-item>
    <sdwds-sidenav-item label="Generate Reports" icon="icons8-o-contact">
    </sdwds-sidenav-item>

    <sdwds-sidenav-item bottom label="Setting" link="#" icon="icons8-o-settings"> </sdwds-sidenav-item>


</sdwds-sidenav>